<div class="layer">

  <h1>Check out your articles !!</h1>

</div>

  <%= @articles.each do |article| %>
    <div class="layer-article">
      <h3><%= article.title %></h3>
      <p><%= markdown(article.content) %></p>
      <p><%= link_to 'Voir détails', article_path(article) %></p>
      <p><%= link_to 'Mettre à jour', edit_article_path(article) %></p>
    </div>
    <hr>
  <% end %>

